/*theme:"nudist"*/

/*chrome bar*/
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
  border: 2px solid black;
}

::-webkit-scrollbar {
  background-color: black;
  width: 12px;
}

::-webkit-scrollbar-button {
  background-color: white;
  height: 0px;
  width: 0px;
  border-radius: 0px;
}
.CodeMirror.cm-s-nudist{
 font:13px/1.3 'consolas',monospace;
 background-color:black;
 color:white;
}
.cm-s-nudist .CodeMirror-gutters {
  border-right: 1px solid transparent;
  background-color: inherit;
  white-space: nowrap;
}

.cm-s-nudist .cm-em
,.cm-s-nudist .cm-header
,.cm-s-nudist .cm-strong {
    font-weight: 400
}

.CodeMirror-cursor {
    border-left-color: white !important
}

.CodeMirror-selected {
    background: rgba(255,255,255,0.05)
}

.CodeMirror-focused .CodeMirror-selected {
    background: rgba(255,255,255,0.1)
}

.CodeMirror-matchingbracket {
  outline:1px solid #f26; color:white!important;
}

.CodeMirror-matchingtag {
  outline:1px solid; color:#f26;
}


.cm-s-nudist .cm-searching {
    background: black;
    outline: 2px solid rgba(255,255,255,0.25)
}

.cm-s-nudist .cm-unit
,.cm-s-nudist .cm-keyword
,.cm-s-nudist .cm-atom {
    color: #fff
}


.cm-s-nudist .cm-def
,.cm-s-nudist .cm-variable
,.cm-s-nudist .cm-variable-2 {
    color: #0fe
}

.cm-s-nudist .cm-operator
,.cm-s-nudist .cm-property {
    color: #ccc//#9a8297
}

.cm-s-nudist .cm-comment {
    color: #aaa
}

.cm-s-nudist .cm-error{
 background-color:#f26;
 color:white;
}
.cm-s-nudist .cm-number
,.cm-s-nudist .cm-string
,.cm-s-nudist .cm-string-2 {
    color: #f26
}

.cm-s-nudist .cm-meta
,.cm-s-nudist .cm-header
,.cm-s-nudist .cm-tag 
,.cm-s-nudist .cm-attribute 
,.cm-s-nudist .cm-strong 
,.cm-s-nudist .cm-em 
,.cm-s-nudist .cm-qualifier
,.cm-s-nudist .cm-builtin {color:#fff}

.CodeMirror-guttermarker-subtle,.CodeMirror-linenumber {
    color: #34363e;
}

.cm-s-nudist .CodeMirror-lines {
  padding: 1rem 2rem; /* Vertical padding around content */
}
.cm-s-nudist div.CodeMirror-selected { background: #fff5; }


/****/
.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0;
  padding: 2px;

  border: 1px solid silver;

  background: #000e;
  font-family: inherit;
  font-size:13px;

  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  white-space: pre;
  color: white;
  cursor: pointer;
}

li.CodeMirror-hint-active {
  background: #f26;
  color: white;
}
